
	body					{ font-size : 12px;font-family : "Microsoft YaHei", Verdana;margin:0;padding:0;text-align:center; background: #fafaee url(../images/bgs.jpg) center top repeat-x; }
	
	cite					{ font-style : normal;font-size : 11px;font-family : "Segoe UI", "Microsoft YaHei", Verdana;color: #999;float : right; }
	
	/*** clear 和 clearfix 任意一种即可清除浮动 ***/
	.clear 					{ border-top:1px solid transparent !important;clear:both; margin-top:-1px !important;visibility:hidden; }
	
	.clearfix:after			{ content:"."; display:block; height:0; clear:both;visibility:hidden; }
	*html .clearfix			{ height:1%; }
	*+html .clearfix		{ height:1%; }
	
	.background				{  }
	.a_warp					{  }
	.b_warp					{  }

	.header					{ margin: 0 auto; width:980px; }
	
	.top					{ text-align : left;height : 72px;margin : 0 auto;background : url(../images/top.jpg) no-repeat; }
	.top .lang				{ float : right;margin-right : 20px;margin-top : 6px; }
	.top .lang span			{ padding: 0px 8px; }
	.top a					{ text-decoration : none;color : #000; }	
	.top a:hover			{ text-decoration : underline; }
	.top a.logo				{ display: block;float : left;width : 200px; height : 40px;margin-left : 25px;margin-top : 15px; }
	.top a.logo:hover		{ text-decoration:none; }
	
	.navigation				{ margin: 0px auto;text-align : left;width : 980px;list-style : none;padding : 0;height : 43px;background : url(../images/nav_background.jpg) repeat-x;}
	.navigation li			{ float : left;height : 43px;margin-right:1px;}
	.navigation li a		{ display : block;float: left;padding : 12px 30px;font-size : 14px;text-decoration : none;background : url(../images/nav_line.jpg) right center no-repeat;color : #ccc;font-family : "Segoe UI", Verdana;}
	.navigation li.this a	{ background : url(../images/nav_this_bg.jpg);color : #fff;}
	
	.industry_team			{ clear : both;}
	.industry_team .industry{ float : left;	margin : 10px 0px 5px 10px;	}
	.industry_team .myteam	{ float: right;	margin : 16px 15px 0px 0px;	}
	
	#content				{ width:980px; margin:0 auto; background:#fff; text-align:left; }
	
	#content .first_l a		{ text-decoration : none;	color :#2b4763; }
	#content .first_l a:hover{text-decoration : underline;color :#000;}
	#content .first_l h4, .i_flink h4{border-left : 6px solid #c20000;font-size : 14px;line-height : 14px;height : 14px;padding : 0px 0px 0px 5px;margin : 15px 0px 10px 0px;}
	#content .first_l ul{border-top : 1px solid #999;margin : 0;padding : 0; list-style: none;}
	#content .first_l ul li{line-height : 12px;padding : 7px 0px 7px 10px;border-bottom: 1px dotted #ccc;background : url(../images/dot.gif) 0px 10px no-repeat;}
	#content .first_l ul p{padding : 0;margin : 0;color : #666;margin-top : 8px;}
	#content ul p span{color : #999;font-size : 11px;padding : 0px 8px;top : -1px;position : relative;}
	#content .first_l{clear: both;}
	#content .first_l .new_office{float : right;width : 260px;height : 232px;padding-left : 15px;border-left : 1px solid #ccc;padding-right : 15px;}
	#content .first_l .new_office ul{padding-top : 1px;}
	#content .first_l .news{float: right;width : 344px;padding : 0px 15px;height : 232px;border-left : 1px solid #ccc;}
	#content .first_l .news ul{	padding-top : 2px;}
	#content .first_l .about{width : 284px;	padding : 0px 12px;	height : 232px;	float : left;}
	.i_flink 				{ padding:15px; }
	.i_flink a				{ text-decoration:none; color:#000; }
	.i_flink h4				{ margin:0px 0px 10px 0px; padding:0px 0px 0px 6px; }
	.i_flink ul				{ padding:0; margin:10px 0px 0px 0px; list-style:none; border-top:1px solid #ddd; padding-top:10px; }
	.i_flink ul li			{ float:left; /*width:190px;*/ line-height:19px; overflow:hidden; margin-right:20px; }
	.i_flink ul li a		{ color:#666; }
	.i_flink ul li a:hover	{ color:#000; }
	
	#footer					{ background :#fff;	width:980px; line-height : 40px; margin : 0 auto; font-family: "Segoe UI", Verdana; border-top:1px solid #ddd; }
	
	.sidebar_box					{ width : 220px;float: left; margin:15px 0px 15px 15px; }
	.sidebar_box .sidebar_top		{ background:url(../images/sidebar_top.png) no-repeat; height:4px; }
	.sidebar_box .sidebar_bottom	{ background:url(../images/sidebar_bottom.png) center bottom no-repeat; height:4px; }
	.sidebar_box .pal				{ background:#2c6971; padding:15px; }
	.sidebar_box a					{ color :#fff;text-decoration : none; }
	.sidebar_box .pal h5			{ margin : 0;padding : 0px;border-left : 6px solid #deb700;font-size:14px;line-height : 14px;padding-left : 5px;color :#fff; }
	.sidebar_box .pal ul		{ border-top : 1px solid #193d42;margin : 8px 0px 0px 0px;padding : 5px 0px 0px 0px;list-style : none; }
	.sidebar_box .pal ul li		{ line-height: 12px;padding : 8px 0px 8px 10px;background : url(../images/dots.gif) 14px 12px no-repeat;border-bottom : 1px dotted #4f888f; }
	.sidebar_box .pal ul li.this{ background-image : url(../images/dot.gif); }
	.sidebar_box .pal ul li.this a{	color : #000;}
	.sidebar_box .pal ul li.son	{ padding-left : 24px; }
	.sidebar_box .pal ul li.son_son{padding-left : 36px;background-position : 26px 12px; }
	.contents				{ float: right;	width : 745px; }
	.contents a				{ color : #000; text-decoration:none; }
	.contents a:hover		{ text-decoration: underline; }
	.contents table			{ margin : 0px 20px 0px 20px;	padding : 15px 0px;	border-bottom : 1px dotted #ddd; }
	.contents table .list 	{ padding-left : 15px; }
	.contents table p{margin : 0;padding : 0;}
	.contents table .title, .contents table .title a{font-size : 16px;color :#2b4763;text-decoration : none;}
	.contents table .title a:hover{	color : #000;text-decoration : underline;}
	.contents table .summary{color : #999;	margin : 10px 0px;}
	.contents table .info{	color : #666;}
	.contents h1{font-size : 22px;font-weight : normal;	margin : 15px 20px;}
	.contents .article_info{margin : -8px 20px 10px 20px;border-bottom : 1px solid #ddd;padding-bottom : 10px;}
	.contents .article_info span{color : #999;position: relative;top: -1px;	padding : 0px 8px;}
	.contents .article{	margin : 0px 20px;font-size : 14px;line-height: 24px;color : #666;}
	
	
	.office_list		{ padding : 0px 10px; }
	.office_list h4.office_title
						{ margin:0; padding:0; font-size:14px; margin-top:10px; }
	.office_list .office_content
						{ line-height:24px; color:#666; padding : 10px; }
	.office_list .office_other
						{ border-bottom : 1px solid #ddd; padding-bottom : 10px; }
						
	
	/**********************/
	.page 				{ color: #3F68A6; margin-top: 10px; height: 23px; margin:10px 0px!important; display: block; }
	.page a				{ display:block; background:#eee; color:#2b4763; float:left;padding:4px 8px; margin-right:1px; font-size:12px; text-decoration: none; border:1px solid #ddd; }
	.page a:hover		{ background:#2b4763; color:#fff!important; border: 1px solid #22384e; }
	.page span			{ display:block;float:left;background:#eee;padding:4px 8px; margin-right:1px; color:#666; font-size:12px; border: 1px solid #ccc; }
	.page span.current	{ background:#2b4763; color:#fff; border: 1px solid #22384e;}
	.pagelink-current 	{ font-weight: bold;}
