@charset "utf-8";
.form-textarea {
	vertical-align:top;
	overflow:auto;
	font:12px/1.5 Helvetica,Arial,sans-serif;
	width:500px;
	height:80px;
}

.form-text{
	margin:0;
	font:12px/1.5 Helvetica,Arial,sans-serif;
	height:18px;
	width:200px;
}

.form-select {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
	padding:4px;
	outline: 0 none;
}

.form-text, .form-textarea {
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
	padding:4px;
}

.form-text, .form-textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-text:focus, .form-textarea:focus {
	outline: 0 none;
}

.form-text:focus, .form-textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

.form-radio,.form-checkbox{
	margin:0;
	padding:0;
	width:13px;
	height:13px;
	font-size:13px;
}

:-moz-placeholder,
::-webkit-input-placeholder{
  color: #bfbfbf;
}

.form-item{
	margin-bottom:9px;
}
/* horizontal form label */
.form-horizontal label{
    float: left;
    text-align: right;
	font-weight:500;
	width:100px;
	font-size:12px;
	line-height:19px;
}
.form-horizontal .form-field{
	float:left;
}
.form-horizontal .form-action,
.form-horizontal .item-no-label{
	padding-left:100px;/*label width*/
}
/* vertical form label */
.form-vertical label{
	display:block;
	float:none;
	width:auto;
	text-align:left;
	margin-bottom:5px;
}
.form-vertical .form-field{
	float:none;
}
.form-vertical .form-action,
.form-vertical .item-no-label{
	padding-left:0;
}
/* field-list */
.form-radio-checkbox-wrap .form-field label{
    text-align: left;
    width: auto;
	font-weight:normal;
	margin:0 10px 0 0;
	float:left;
	display:inline;
}
.form-radio-checkbox-wrap .form-field .field-list-block{
	display:block;
	float: none;
	margin-right:0;
	overflow:auto;*zoom:1;
}
.form-radio-checkbox-wrap .form-radio,
.form-radio-checkbox-wrap .form-checkbox,
.form-radio-checkbox-wrap span{
	float:left;
	display:inline;
}
.form-radio-checkbox-wrap .form-radio,
.form-radio-checkbox-wrap .form-checkbox{
	margin-right:5px;
	margin-top:3px;
}

/* clear form-item float */
.form-item:before, .form-item:after {
    content:"";
    display:table;
}
.form-item:after{
	clear:both;
	overflow:hidden;
}
.form-item{
    zoom:1;
	clear:both;
	margin-bottom:9px;
}

.form-label{
    float: left;
    text-align: right;
	font-weight:500;
	width:100px;
	font-size:12px;
	line-height:19px;
}

.form-field{
	float:left;
}
