* {
	margin:0;
	padding:0;
}


#page-wrap {
	background: white;
	min-width: 780px;
	max-width: 1280px;
	margin: 0px auto;
	}

#page-wrap #inside {
		margin: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
#main-content {
	padding-left: 200px;
	padding-top: 0px;
	padding-right: 	0px;
}
	
#header {
    background-color: #00688B;
    color:#FFFFFF;
	font-size:24px;
	font-family: Tahoma, Trebuchet MS, Arial, Verdana, sans-serif;
	text-align: left;
}
	
#left-sidebar {
	width: 200px;
	float: left;
	padding-left: 0px;
	padding-top: 20px;
	background-color: #00688B;
	min-height:700px;
}

#footer {
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 9px;	
	text-align: right;
	color: #666;
}