.verifyTable td {
	padding: 5px;
}

.titleEn36 {
	font-size: 36.0pt;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

.titleEn12 {
	font-size: 12.0pt;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

.titleEn11 {
	font-size: 11.0pt;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

.titleEn10 {
	font-size: 10.0pt;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

.titleEn9 {
	font-size: 9.0pt;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

.titleEn8 {
	font-size: 8.0pt;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

.titleEn7 {
	font-size: 7.0pt;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

.textEn12 {
	font-size: 12.0pt;
	font-family: Arial;
	color: windowtext;
}

.textEn11 {
	font-size: 11.0pt;
	font-family: Arial;
	color: windowtext;
}

.textEn10 {
	font-size: 10.0pt;
	font-family: Arial;
	color: windowtext;
}

.textEn9 {
	font-size: 9.0pt;
	font-family: Arial;
	color: windowtext;
}

.textEn8 {
	font-size: 8.0pt;
	font-family: Arial;
	color: windowtext;
}

.textEn7 {
	font-size: 7.0pt;
	font-family: Arial;
	color: windowtext;
}

.textEn6 {
	font-size: 6.0pt;
	font-family: Arial;
	color: windowtext;
}

.titleCh12 {
	font-size: 12.0pt;
	font-weight: bold;
	text-align: center;
	font-family: 新明w;
}

.titleCh11 {
	font-size: 11.0pt;
	font-weight: bold;
	text-align: center;
	font-family: 新明w;
}

.titleCh10 {
	font-size: 10.0pt;
	font-weight: bold;
	text-align: center;
	font-family: 新明w;
}

.titleCh9 {
	font-size: 9.0pt;
	font-weight: bold;
	text-align: center;
	font-family: 新明w;
}

.titleCh8 {
	font-size: 8.0pt;
	font-weight: bold;
	text-align: center;
	font-family: 新明w;
}

.titleCh7 {
	font-size: 7.0pt;
	font-weight: bold;
	text-align: center;
	font-family: 新明w;
}

.textCh12 {
	font-size: 12.0pt;
	font-family: 新明w;
}

.textCh11 {
	font-size: 11.0pt;
	font-family: 新明w;
}

.textCh10 {
	font-size: 10.0pt;
	font-family: 新明w;
}

.textCh9 {
	font-size: 9.0pt;
	font-family: 新明w;
}

.textCh8 {
	font-size: 8.0pt;
	font-family: 新明w;
}

.textCh87 {
	font-size: 7.0pt;
	font-family: 新明w;
}

.textCh6 {
	font-size: 6.0pt;
	font-family: 新明w;
}

td {
	word-break:break-all;
}