.menu-info{
	background-image: url('../images/caborders/info_mgmt_menu.png')!important;
}

.menu-addInfo {
	background-image: url('../images/caborders/info_new_menu.png')!important;
}

.menu-listInfo {
	background-image: url('../images/caborders/info_search_menu.png')!important;
}

.menu-position {
	background-image: url('../images/caborders/position_mgmt_menu.png')!important;
}

.menu-addPosition {
	background-image: url('../images/caborders/position_new_menu.gif')!important;
}

.menu-listPosition {
	background-image: url('../images/caborders/position_search_menu.png')!important;
}

.menu-admin {
	background-image: url('../images/caborders/system_mgmt_menu.png')!important;
}

.menu-logout {
	background-image: url('../images/caborders/logout.png')!important;
}

.menu-index {
	background-image: url('../images/caborders/index_menu.png')!important;
}

.menu-edit {
	background-image: url('../images/caborders/edit.gif')!important;
}

.btn-search {
	background-image: url('../images/caborders/search.png') !important;
}

/**footer*/
.footer {position:absolute; bottom:0; left:0; text-align:center; width:100%; height:21px; padding:0 5px;z-index:-1}

.errorContainer {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	font-weight: normal;
	color: rgb(4, 64, 140);
	width: 99%;
	padding: 2px;
}

.errorContainer LI {
	margin-left: 25px;
	list-style-type: disc;
	line-height: 1.0em;
	font-size: 110%;
	font-color: rgb(4, 64, 140);
}

.action-img {
	cursor:pointer;
}

/*****************************************************************/
.contents				{ float: right;	width : 745px; }
.contents a				{ color : #000; text-decoration:none; }
.contents a:hover		{ text-decoration: underline; }
.contents table			{ margin : 0px 20px 0px 20px;	padding : 15px 0px;	border-bottom : 1px dotted #ddd; }
.contents table .list 	{ padding-left : 15px; }
.contents table p{margin : 0;padding : 0;}
.contents table .title, .contents table .title a{font-size : 16px;color :#2b4763;text-decoration : none;}
.contents table .title a:hover{	color : #000;text-decoration : underline;}
.contents table .summary{color : #999;	margin : 10px 0px;}
.contents table .info{	color : #666;}
.contents h1{font-size : 22px;font-weight : normal;	margin : 15px 20px;}
.contents .article_info{margin : -8px 20px 10px 20px;border-bottom : 1px solid #ddd;padding-bottom : 10px;}
.contents .article_info span{color : #999;position: relative;top: -1px;	padding : 0px 8px;}
.contents .article{	margin : 0px 20px;font-size : 14px;line-height: 24px;color : #666;}

