.pagination {
   font-size:12px;
}
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color:#2b4763;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 4px 8px;
    margin-right: 1px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #2b4763;
    color: #fff;
	border: 1px solid #22384e;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
