<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	    <mapping class="com.pccw.ehunter.domain.common.AnnualLeaveWelfare"/>
	    <mapping class="com.pccw.ehunter.domain.common.City"/>
	    <mapping class="com.pccw.ehunter.domain.common.CompanyCategory"/>
	    <mapping class="com.pccw.ehunter.domain.common.CompanySize"/>
		<mapping class="com.pccw.ehunter.domain.common.Degree" />
		<mapping class="com.pccw.ehunter.domain.common.Industry" />
		<mapping class="com.pccw.ehunter.domain.common.IndustryCategory" />
		<mapping class="com.pccw.ehunter.domain.common.Position" />
		<mapping class="com.pccw.ehunter.domain.common.PositionCategory" />
		<mapping class="com.pccw.ehunter.domain.common.ProjectStatus" />
		<mapping class="com.pccw.ehunter.domain.common.Province" />
		<mapping class="com.pccw.ehunter.domain.common.ResidentialWelfare"/>
		<mapping class="com.pccw.ehunter.domain.common.SalaryCategory"/>
		<mapping class="com.pccw.ehunter.domain.common.Sequence"/>
		<mapping class="com.pccw.ehunter.domain.common.Subject"/>
		<mapping class="com.pccw.ehunter.domain.common.SubjectCategory"/>
		<mapping class="com.pccw.ehunter.domain.common.TalentSource"/>
		<mapping class="com.pccw.ehunter.domain.common.SkillCategory"/>
		<mapping class="com.pccw.ehunter.domain.common.SkillLevel"/>
		<mapping class="com.pccw.ehunter.domain.common.SocietyWelfare"/>
		<mapping class="com.pccw.ehunter.domain.common.LanguageCategory"/>
		<mapping class="com.pccw.ehunter.domain.common.CandidateStatus"/>
		<mapping class="com.pccw.ehunter.domain.common.CustomerGrade"/>
		<mapping class="com.pccw.ehunter.domain.common.CustomerStatus"/>
		
		<mapping class="com.pccw.ehunter.domain.internal.InternalRole" />
		<mapping class="com.pccw.ehunter.domain.internal.InternalUser" />
		<mapping class="com.pccw.ehunter.domain.internal.CustomerGroup" />
		<mapping class="com.pccw.ehunter.domain.internal.CustomerResponsablePerson" />
		<mapping class="com.pccw.ehunter.domain.internal.CustomerCompany" />
		<mapping class="com.pccw.ehunter.domain.internal.PositionDescription" />
		<mapping class="com.pccw.ehunter.domain.internal.PositionKeyWordPK" />
		<mapping class="com.pccw.ehunter.domain.internal.PositionKeyWord" />
		<mapping class="com.pccw.ehunter.domain.internal.PositionRequirement" />
		<mapping class="com.pccw.ehunter.domain.internal.Project" />
		<mapping class="com.pccw.ehunter.domain.internal.CertPK" />
		<mapping class="com.pccw.ehunter.domain.internal.Cert" />
		<mapping class="com.pccw.ehunter.domain.internal.EducationExperiencePK" />
		<mapping class="com.pccw.ehunter.domain.internal.EducationExperience" />
		<mapping class="com.pccw.ehunter.domain.internal.JobExperiencePK" />
		<mapping class="com.pccw.ehunter.domain.internal.JobExperience" />
		<mapping class="com.pccw.ehunter.domain.internal.LanguageAbilityPK" />
		<mapping class="com.pccw.ehunter.domain.internal.LanguageAbility" />
		<mapping class="com.pccw.ehunter.domain.internal.ProfessionalSkillPK" />
		<mapping class="com.pccw.ehunter.domain.internal.ProfessionalSkill" />
		<mapping class="com.pccw.ehunter.domain.internal.Candidate" />
		<mapping class="com.pccw.ehunter.domain.internal.ProjectExperiencePK" />
		<mapping class="com.pccw.ehunter.domain.internal.ProjectExperience" />
		<mapping class="com.pccw.ehunter.domain.internal.TrainingExperiencePK" />
		<mapping class="com.pccw.ehunter.domain.internal.TrainingExperience" />
		<mapping class="com.pccw.ehunter.domain.internal.JobIntention" />
		<mapping class="com.pccw.ehunter.domain.internal.SelfEvaluation" />
		<mapping class="com.pccw.ehunter.domain.internal.Resume" />
		<mapping class="com.pccw.ehunter.domain.internal.Talent" />
		<mapping class="com.pccw.ehunter.domain.internal.CandidateContactHistory" />
		<mapping class="com.pccw.ehunter.domain.internal.CustomerContactHistory" />
		<mapping class="com.pccw.ehunter.domain.internal.EmploymentHistoryPK" />
		<mapping class="com.pccw.ehunter.domain.internal.EmploymentHistory" />
	</session-factory>
</hibernate-configuration>