html,body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border: none;
}

td {
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif, Helvetica, Verdana, Geneva;
}

p {
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif, Helvetica, Verdana, Geneva;
}

div {
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif, Helvetica, Verdana, Geneva;
}

h1 {
	font-size: 24px;
	font-family: Arial, Tahoma, sans-serif, Helvetica, Verdana, Geneva;
}

li {
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif, Helvetica, Verdana, Geneva;
}

fieldset {
	background-color: #FFFFFF;
	border: 1px solid #CCCFFF;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

legend {
	background-color: #FFFFFF;
	color: #666;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Tahoma, sans-serif, Helvetica, Verdana, Geneva;
	padding: 0px;
}

textarea {
	font-family: Tahoma, Trebuchet MS, Arial, Verdana, sans-serif;
	font-size: 1em;
	color: #333333;
}

select {
	font-family: Tahoma, Trebuchet MS, Arial, Verdana, sans-serif;
	font-size: 1em;
	line-height: 1.46em;
	border: 1px solid #4B729E;
	color: #333333;
}

select option {
	padding-left: 2px;
}

input {
	font-family: Tahoma, Trebuchet MS, Arial, Verdana, sans-serif;
	font-size: 1em;
}

img {
	border: 0;
}

pre {
	font-size: .9em;
	padding: 5px;
	border: 1px solid #CCCCCC;
	background-color: #F4F4F4;
	width: 850px;
}