/*----- common start-----*/
#pageAll {
	TEXT-ALIGN: left;
	width: 100%;
}

#pageTop {
	FLOAT: left;
	WIDTH: 100%
}

#pageMain {
	CLEAR: BOTH;
	FLOAT: left;
	HEIGHT: auto;
	RIGHT-MARGIN: 0px;
	MIN-WIDTH: 960px;
	width: 100%;
}

.buttonArea {
	width: 99%;
	float: left;
}

.buttonmenubox_L {
	text-align: Left;
	background-color: #efefef;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	display: block;
	width: 100%;
	clear: both;
}

.buttonmenubox_R {
	text-align: right;
	background-color: #efefef;
	margin-right: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: block;
	width: 100%;
	clear: both;
	vertical-align: bottom;
}

.boxHolder1 {
	FLOAT: left;
	WIDTH: 100%;
	MARGIN-RIGHT: -2px
}

.boxHolder2 {
	MARGIN: 5px
}

.systemName {
	clear: both;
	font-weight: bold;
	color: #071a54;
	font-size: 24px;
	font-family: Tahoma, Trebuchet MS, Arial, Verdana, sans-serif;
}

.mainBody {
	background: url(/ehunter/images/default/page_bg.gif) center top
		no-repeat;;
	border-color: black;
	border-width: 0 0 0 0;
	border-style: solid;
	padding: 0;
}

.rightText {
	color: #071a54;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
}

div.emptyBlock {
	display: block;
	width: 100%;
	clear: both;
	padding: 5px 0px 5px 0px;
}

.normalTextField {
	font-family: verdana, arial, helvetica, sans-serif;
	height: 16px;
}

.normalTextAreaField {
	font-family: verdana, arial, helvetica, sans-serif;
	width: 99%;
}

.loginInfo {
	padding: 2px;
	color: #ffffff;
	font-weight: 600;
}
/*----- common end -----*/

/*--- page title ----*/
.pageTitle {
	color: #A70303;
	font-weight: bold;
	text-align: center;
	font-size: 90%;
	background-color: #eeeecc;
	text-align: left;
	display: block;
	padding: 2px 0;
	padding-left: 2px;
	text-decoration: none;
	border-bottom: 1px solid #dadada;	
}

/*--- function menu bar -----*/
.functionMenuBar {
	background-color: #EFEFEF;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	font-family: Tahoma, Trebuchet MS, Arial, Verdana, sans-serif;
}

/*---- menu start -------*/
.arrowlistmenu {
	width: 168px; /*width of accordion menu*/
	margin-left: 5px;
}

.arrowlistmenu .menuheader {
	/*CSS class for menu headers in general (expanding or not!)*/
	font: bold 14px Arial;
	color: white;
	background: black url(/ehunter/images/icon/titlebar-active.gif) repeat-x
		center left;
	margin-bottom: 10px;
	/*bottom spacing between header and rest of content*/
	text-transform: uppercase;
	padding: 4px 0 4px 10px; /*header text is indented 10px*/
	cursor: hand;
	cursor: pointer;
}

.arrowlistmenu ul { /*CSS for UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	/*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li {
	padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a {
	color: #A70303;
	background: url(/ehunter/images/icon/arrowbullet.png) no-repeat center
		left; /*custom bullet list image*/
	display: block;
	padding: 2px 0;
	padding-left: 19px; /*link text is indented 19px*/
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid #dadada;
	font-size: 90%;
}

.arrowlistmenu ul li a:visited {
	color: #A70303;
}

.arrowlistmenu ul li a:hover { /*hover state CSS*/
	color: #A70303;
	background-color: #F3F3F3;
}
/*---- menu end ---------*/

/*------grey box start-------*/
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 600px;
	height: 200px;
	padding: 16px;
	border: 5px solid #EEEEEE;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
/*------grey box end--------*/

/*------note start----*/
.mandatoryField {
	color: red;
	font-weight: bold;
}

.note {
	padding: 4px;
	background: #FCF5E6;
	font-family: "Arial", "FZYaoTi";
	/*font-size: 12px; */
	color: #000000
}

.succmsg {
	font-family: "Arial", "Helvetica", "sans-serif", "宋体";
	font-size: 120%;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
	line-height: 16px;
}
/*------note end-----*/

/*-----error container start-----*/
#errorContainer {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	font-weight: normal;
	color: #CC0000;
	border: 1px solid #CC0000;
	width: 99%;
	padding: 2px;
	background-color: #FFFFEE;
}

#errorContainer LI {
	margin-left: 25px;
	LIST-STYLE-TYPE: disc;
	LINE-HEIGHT: 1.0em;
	font-size: 100%;
	font-color: #CC0000;
}

.errorContainer {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	font-weight: normal;
	color: #CC0000;
	border: 1px solid #CC0000;
	width: 99%;
	padding: 2px;
	background-color: #FFFFEE;
}

.errorContainer LI {
	margin-left: 25px;
	LIST-STYLE-TYPE: disc;
	LINE-HEIGHT: 1.0em;
	font-size: 110%;
	font-color: #CC0000;
}

#mvcErrorContainer {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	font-weight: normal;
	color: #CC0000;
	border: 1px solid #CC0000;
	width: 99%;
	padding: 2px;
	background-color: #FFFFEE;
}

#mvcErrorContainer LI {
	margin-left: 25px;
	LIST-STYLE-TYPE: disc;
	LINE-HEIGHT: 1.0em;
}
/*-----error container end-------*/

/*--- standard form input start -----*/
.standardTableForm {
	border: 1px solid #CCCCCC;
	word-wrap: break-word; 
	word-break: break-all;
	table-layout:fixed;
	text-align: justify;

}

.standardTableForm tr{
	height:35;
}

.standardTableForm td{
	border-top: 0px solid #CCCCCC;
	border-left: 0px solid #CCCCCC;
	border-right: 0px solid #CCCCCC;
	margin: 0;
	padding: 2px;
	padding-left:0px;
	padding-right:0px;
	font-size: 11px;
}

.standardInputText {
	width: 90%;
	height: 23px;
}

.standardInputTextNoWidth {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	height: 23px;
	margin: 0;
	padding:0px;
}

.standardSelect{
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	width: 90%;
	height: 23px;
}

.standardSelectNoWidth{
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	height: 23px;
}

.standardButton {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	background-color: #666666;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
	line-height:22px;
	color: #FFFFFF;
	text-decoration: none;
	Margin-left: 4px;
	text-align:center;
	cursor:pointer;
	border:0;
}

.standardButton:hover {
	background-color: #FF6500;
}

.tableButton {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	background-color: #CCCCCC;
	padding: 0px 10px 0px 10px;
	line-height:22px;
	color: #000000;
	text-decoration: none;
	Margin-left: 4px;
	text-align:center;
	cursor:pointer;
	border:0;
}

.tableButton:hover {
	background-color: #666666;
}

.labelColumn {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	color: #666666;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	background-color: #EEEEEE;
	color: #00688B
}

.normalTextField {
	font-family: "Arial", "Verdana", "Helvetica", "sans-serif";
	height: 16px;
}

.contentTableBody1 {
		margin: 0;
		padding: 0px;
		border: 0px;
		spacing:0px;
		width: 100%;
}

.contentTableButton {
		background-color: #666666;
		padding: 5px 10px 5px 10px;
		font-family: "PMingLiu";
		font-weight: bold;
		line-height:30px;
		height:30px;
		color: #FFFFFF;
		text-decoration: none;
		Margin-left: 4px;
}

A.button:Visited,A.button:link {
	background-color: #666666;
	padding: 5px 10px 5px 10px;
	font-family: "PMingLiu";
	font-weight: bold;
	line-height:30px;
	height:30px;
	color: #FFFFFF;
	text-decoration: none;
	Margin-left: 4px;
}

A.button:hover {
	background-color: #FF6500;
}

.contentTableBody2 {
	margin: 0;
	padding: 0px;
	border: 0px;
	background: #969696
}

.contentTableBody2 td {
	margin: 0;
	padding-left:10px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
	border: 0px;
	spacing:0px;
	word-break: break-all; 
	word-wrap : break-word;
}

.contentTableTitle { 
	padding: 4px; 
	background: #C8C8C8; 
	font-family: "PMingLiu"; 
	font-weight: bold; 
	color: #000000;
	word-break: break-all; 
	word-wrap : break-word;
}

.contentTableRow { 
	background: #FFFFFF;
	font-family: "PMingLiu"; 
	color: #000000;
	width: 100%
}

.search{
	background:url(/ehunter/images/icon/search_bg.gif)  no-repeat 0 0;	
	width:200px;	
	height:25px;
	cursor:pointer;	
}

.searchBtn {
	width:25px;	
	height:25px;	
	cursor:pointer;	
}
/*--- standard form input end -----*/

