<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<mapping class="com.pccw.ehunter.domain.internal.InternalRole"></mapping>
<mapping class="com.pccw.ehunter.domain.internal.InternalUser"></mapping>
</hibernate-configuration>